// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'buttons';

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

html {
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: 'Open Sans', sans-serif !important;
  font-size: 16px !important;

  padding: 25px 40px;

  letter-spacing: 1px;

  color: $text !important;
  background-color: $white !important;

  -webkit-font-smoothing: antialiased;

  .container {
    width: 90%;
    max-width: 700px;
    margin: 0 auto;
    padding: 20px 30px;

    border: 1px solid rgba(234, 234, 234, 1.0);
    border-radius: 5px;
  }
}

ul {

  &.tracking-numbers {
    margin-top: 25px;

    li {
      position: relative;

      padding: 10px;

      border-bottom: 1px solid rgba(204, 204, 204, 1.0);

      &:hover {
        cursor: pointer;

        color: $text;
        background-color: rgba(7, 106, 153, 0.2);

        .tracking-number-destroy {
          transition: opacity 0.3s ease-in-out;

          @include opacity(1);
        }
      }

      .days-to-delivery {
        display: inline-block;

        margin-right: 15px;

        p {
          margin: 0;
        }

        .days-to-delivery-num,
        .days-to-delivery-text {
          font-size: 0.5em;
          font-weight: 600;

          text-align: center;
        }

        .days-to-delivery-num {
          font-size: 1.5em;
        }
      }

      .tracking-number-details {
        display: inline-block;

        p {
          margin: 0;

          &.tracking-number-details-primary {
            font-size: 1.25em;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          &.tracking-number-details-location {
            font-size: 0.75em;
          }
        }
      }

      .id-num {
        position: absolute;
        top: 0;
        left: -22px;

        color: $text;
        background-color: $white;
      }

      &.ups {
        color: rgba(255, 214, 60, 1.0);
        background-color: rgba(100, 65, 23, 1.0);
      }

      &.usps {
        color: rgba(0, 159, 233, 1.0);
        background-color: rgba(245, 250, 231, 1.0);
      }

      &.fedex {
        color: rgba(151, 151, 151, 1.0);
        background-color: rgba(101, 44, 143, 1.0);
      }

      .tracking-number-content {
        display: inline-block;

        padding: 0;

        vertical-align: middle;
      }

      .tracking-number-destroy {
        float: right;

        transition: opacity 0.225s ease-in-out;

        @include opacity(0);
      }
    }
  }
}

input {
  font-size: 1em;

  height: 39px;
  padding: 5px 10px;

  transition: border-color 0.225s ease-in-out, box-shadow 0.225s ease-in-out;

  color: $lighter-text;
  border: 1px solid rgba(172, 176, 184, 1.0);
  outline: 0;
  background-color: $white;

  &:focus {
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

    border-color: rgba(75, 178, 50, 1.0);
    box-shadow: inset 1px 1px 3px rgba(230, 230, 230, 1.0), 0 0 10px rgba(58, 138, 39, 1.0);
  }
}

#notice {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;

  display: none;

  padding: 15px 0 10px 0;

  text-align: center;

  background-color: red;
}

.shipment-events {
  font-size: 0.9em;

  li {
    padding: 10px;

    border-top: 1px solid rgba(204, 204, 204, 1.0);

    &:first-of-type {
      border-top: none;
    }

    &:nth-child(odd) {
      background-color: rgba(7, 106, 153, 0.2);
    }
  }
}
